# Python cache files
__pycache__
*.pyc

# IDE files (if someone is using anything other than vs code then XDD)
.vscode
.idea
.eclipse
.pycharm
.atom

# Build files
build
dist
*.pyz
*.pyzw

# Miscellanous
temp
tmp
*.tmp
